<html>
    <body>
        <table align="center" width="670" border="0" style="border-top: 2px solid#60b9ce; border-right: 1px solid #e7e7e7; border-left: 1px solid #e7e7e7; border-bottom: 1px solid #e7e7e7;">
            <tbody>
                <tr>
                    <td style="background-color: #ffffff; padding: 40px 30px 0 35px; text-align: center;">
                        <table width="605" border="0" cellpadding="0" cellspacing="0" style="text-align: left;">
                            <tbody>
                                <tr>
                                    <td style="color: blueviolet; font-size: 25px; text-align: left; width: 352px; word-spacing: -1px; vertical-align: top;">
                                        임시 비밀번호를 확인 후
                                        <br>
                                        로그인을 완료해 주세요.
                                    </td>
                                    <td rowspan="3">
                                        <img style="width: 250px;" src="https://ifh.cc/g/wncVdz.png" alt="로고그림" loading="lazy">
                                    </td>
                                </tr>
                                <tr>
                                    <td height="39">
                                        <img src="http://hyundai-autoever.recruiter.co.kr/resources/css/cus/images/pattern/registerbar.png" alt="그림" loading="lazy">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size: 17px; vertical-align: bottom; height: 27px;">
                                    안녕하세요? 3BTI입니다.</td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="font-size: 13px; word-spacing: -1px; height: 30px;">
                                        아래 임시비밀번호를 확인하시고 로그인을 계속 진행해 주세요.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 39px 196px 70px;">
                        <table width="278" style="background-color: violet;">
                            <tbody>
                                <tr>
                                    <td height="49" style="text-align: center; color: #fff;">
                                        임시비밀번호 : 
                                        <h5><%= tempPassword %></h5>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>